<%- include('partials/header') %>
<%- include('partials/nav') %>
<main class="container article-container">
  <div class="row">
    <div class="col">
      <h1><%= article.title %></h1>
      <p><%= article.content %></p>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
