<%- include('partials/header') %>
<%- include('partials/nav') %>
<main class="container">
  <div class="row">
    <% articles.forEach(article => { %>
      <div class="col-md-4 my-5">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text"><%= article.content.substring(0, 100) %>...</p>
          </div>
          <div class="card-footer">
            <a href="/article/<%= article.slug %>" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</main>
<%- include('partials/footer') %>